<!-- Launch File for running svo with ceres backend from bag-file -->
<launch>
  <arg name="calib_file" default="$(find df_visual_frontend)/config/f4_v2/f4_v2.yaml"/>

  <!-- dr-vins-visual-frontend -->
  <node pkg="df_visual_frontend" type="test_track_pipeline" name="df_visual_frontend_node"
   clear_params="true" output="screen" args="$(arg calib_file)">
  </node>
</launch>
