<!-- Launch File for running fusion_odometry. -->
<launch>
    <!-- fusion odometry node -->
    <arg name="fusion_odometry_config_file" default="$(find fusion_odometry)/config/livox.yaml"/>
    <node pkg="fusion_odometry" type="run_on_ros" name="fusion_odometry_on_ros" clear_params="true" output="screen" args="$(arg fusion_odometry_config_file)"/>
</launch>
