%YAML:1.0
---

imu_topic: ["/imu0"]
visual_topic: ["/visual_track_result"]
lidar_topic: [""]

fusion:
    p_ib: [0, 0, 0]
    q_ib: [1, 0, 0, 0]

imu_manager:
    enable_initialize_when_stationary: 1
    lazy_point_time_s: 0.2
    stationary_detect:
        accel_peak_peak: 0.3
        gyro_peak_peak: 0.03
    over_range_detect:
        accel_norm: 30.0
        gyro_norm: 10.0
    imu_model:
        accel_noise_sigma: 0.1
        gyro_noise_sigma: 0.03
        accel_random_walk_sigma: 0.008
        gyro_random_walk_sigma: 0.0008
    state_init_sigma:
        p_wi: 1e-2
        q_wi: 1e-3
        v_wi: 1e-2
        bias_a: 1e-2
        bias_g: 4e-3
    updaters:
        gravity:
            enable_update: 1
            default_sigma: 0.1
        zero_velocity:
            enable_update: 1
            default_sigma: 0.01
        zero_angular_velocity:
            enable_update: 1
            default_sigma: 0.005

visual_manager:
    enable: 1
    fix_all_p_ic: 1
    max_number_of_cloned_poses: 6
    outliers_rejection:
        max_reprojection_error: 0.008
    max_number_of_points_to_use: 40
    min_number_of_points_to_use: 6
    keyframe_selection:
        min_tracking_ratio: 0.5
        max_mean_parallex_angle: 7.0
        min_number_of_triangulized_points: 15
    state_init_sigma:
        time_delay_s: 0.0
        p_ic: 1e-7
        q_ic: 1e-4
    updaters:
        points:
            enable_update: 1
            default_sigma: 0.008
    number_of_cameras_per_direction: [2]
    p_ic_of_all_cameras: [-0.0216401454975,-0.064676986768, 0.00981073058949,
                          -0.0198435579556, 0.0453689425024, 0.00786212447038]
    q_ic_of_all_cameras: [0.711527, -0.00255024, 0.0153239, 0.702487,
                          0.712301, -0.00770718, 0.0104993, 0.701753]
    debug:
        draw_local_map: 0

lidar_manager:
    enable: 0
