%YAML:1.0
---

imu_topic: ["/mavros/imu/data"]
visual_topic: ["/visual_track_result"]
lidar_topic: [""]

fusion:
    p_ib: [0, 0, 0]
    q_ib: [1, 0, 0, 0]

imu_manager:
    enable_initialize_when_stationary: 1
    lazy_point_time_s: 0.05
    stationary_detect:
        accel_peak_peak: 0.25
        gyro_peak_peak: 0.02
    over_range_detect:
        accel_norm: 30.0
        gyro_norm: 10.0
    imu_model:
        accel_noise_sigma: 0.04
        gyro_noise_sigma: 0.01
        accel_random_walk_sigma: 0.06
        gyro_random_walk_sigma: 0.004
    state_init_sigma:
        p_wi: 1e-2
        q_wi: 1e-3
        v_wi: 1e-2
        bias_a: 1e-2
        bias_g: 1e-3
    updaters:
        gravity:
            enable_update: 1
            default_sigma: 10.0
        zero_velocity:
            enable_update: 1
            default_sigma: 0.01
        zero_angular_velocity:
            enable_update: 1
            default_sigma: 0.004

visual_manager:
    enable: 1
    fix_all_p_ic: 1
    max_number_of_cloned_poses: 6
    outliers_rejection:
        max_reprojection_error: 0.008
    max_number_of_points_to_use: 40
    min_number_of_points_to_use: 6
    keyframe_selection:
        min_tracking_ratio: 0.5
        max_mean_parallex_angle: 7.0
        min_number_of_triangulized_points: 15
    state_init_sigma:
        time_delay_s: 0.0
        p_ic: 1e-7
        q_ic: 1e-7
    updaters:
        points:
            enable_update: 1
            default_sigma: 0.008
    number_of_cameras_per_direction: [2]
    p_ic_of_all_cameras: [0.041226, 0.054235, 0.041348,
                          0.043216, 0.004260, 0.041811]
    q_ic_of_all_cameras: [0.505029, -0.511609, 0.488777, -0.494266,
                          0.505320, -0.511391, 0.488387, -0.494580]
    debug:
        draw_local_map: 0

lidar_manager:
    enable: 0
